@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap");
@import 'config';
@import 'nav';
@import 'hero';

body {
  width: 100vw;
  height: 100vh;
  background-color: #000034;
  padding: 20px 10%;
  font-family: 'Outfit', sans-serif;
  font-style: normal;
  color: #fff;
}

.circle1 {
  position: absolute;
  width: 600px;
  height: 964px;
  left: calc(50% - 980px/2 - 245.5px);
  top: -619px;
  background: rgba(128, 128, 215, 0.6);
  filter: blur(312px);
}

.circle2 {
  position: absolute;
  width: 800px;
  height: 964px;
  left: calc(50% - 980px/2 + 763.5px);
  top: 118px;
  background: #88D0D0;
  opacity: 0.6;
  filter: blur(312px);
}

header {
 width: 100%;
}

