@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap");
@import 'config';
@import 'nav';
@import 'hero';

body {
  width: 100vw;
  height: 100vh;
  background-color: #000034;
  padding: 20px 10%;
  font-family: 'Outfit', sans-serif;
  font-style: normal;
  color: #fff;
}

header {
 width: 100%;
}

